@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding:0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding:0.6em;
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style-type: none;
}


.left-links,
.right-links{
  display:flex;
  gap:10px;
}

.left-links a,
.right-links a{
  text-decoration: none;
  color:grey;
}

.header,
.footer{
  display:flex;
  justify-content: space-between;
  padding: 0 1.5em;
}


.content{
  align-self: center;
  display:flex;
  flex-direction: column;
  align-items: center;

  gap:1em;
}

.footer{
  background-color: #eeeeee;
  flex-shrink: 0;
}